<p id="notice"><%= notice %></p>
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead"><%= current_user.full_name %></p>
                <div class="list-group">
                    <a href="/index" class="list-group-item">Find All Merchant</a>
                    <a href="/index" class="list-group-item">Special Offer</a>
                    <a href="/" class="list-group-item">Find Near Me(5KM)</a>
                </div>
            </div>
            <div class="col-md-9">

                <div class="thumbnail">
                    <%= image_tag (@list.image.url),:size=> '800x300', :class=> "img-responsive" if @list.image?  %>
                    <div class="caption-full">
                        <h4 class="pull-right">RM <%= sprintf('%.2f', @list.price) if @list.price? %></h4>
                        <h4><%= @list.title %>
                        </h4>
                        <p><%= @list.description %></p>
                        <% if current_user == @list.user %>
                        <p><%= link_to 'Edit', edit_list_path(@list) %> | <%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                        <% else %>
                        <p><%= link_to 'Back', lists_path %></p>
                        <% end %>
                    </div>
                </div>

                <div class="well">

                   
                       <%= link_to 'Leave a Reviews', new_list_review_path(@list), :class=> "btn btn-primary pull-right" %>
                   

                    <h5><strong>Average Rating  </strong></h5> <div class="star-rating" data-score= <%= @avg %>></div>
                        <p><%= @reviews.size %> Reviews</p>

                    <hr>
            <% if @reviews.blank? %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>No reviews just yet, would you like to add the first!</p>
                        </div>
                    </div>

            <% else %>

                    <hr>
                <% @reviews.each do |review| %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="star-rating" data-score= <%= review.rating %>></div>
                            <p><%= review.comment %></p>
                        </div>
                    </div>

                    <hr>
                <% end %>
            <% end %>

                </div>

            </div>

        </div>

    </div>
    </div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


