</br>
<div class="container">
                <div class="row">
                <% @lists.each do |list| %>
                    <div class="col-sm-12 col-lg-3 col-md-3">
                        <div class="thumbnail">                         
                         <%= image_tag(list.image.url, size: "200x100") if list.image? %>
                            <div class="caption">
                                <h4>RM <%= sprintf('%.2f', list.price) if list.price? %></h4>
                                <p><h4>><%= link_to list.title,list %></h4></p>
                                </h4>
                                <p><%= truncate(list.description, length:20, omission: '...(continued)') %></p>
                            </div>                      
                             
                        </div>
                    </div>
                    <% end %>
                </div> 

               <%= will_paginate @lists %>
</div>
<%= tinymce %>