<p id="notice"><%= notice %></p>
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead"><%= current_user.email %></p>
                <div class="list-group">
                    <a href="/index" class="list-group-item">Find All Merchant</a>
                    <a href="/index" class="list-group-item">Special Offer</a>
                    <a href="/" class="list-group-item">Find Near Me(5KM)</a>
                </div>
            </div>
            <div class="col-md-9">

                <div class="thumbnail">
                    <%= image_tag (@list.image.url),:size=> '800x300', :class=> "img-responsive" %>
                    <div class="caption-full">
                        <h4 class="pull-right">RM <%= @list.price %></h4>
                        <h4><%= @list.title %>
                        </h4>
                        <p><%= @list.description %></p>
                        <p><%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> | <%= link_to 'Destroy', @list, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="btn-group">
                       <%= link_to 'Leave a Reviews', new_list_review_path(@list), :class=> "btn" %>
                    </div>

                    <hr>
            <% if @reviews.blank? %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>No reviews just yet, would you like to add the first!</p>
                        </div>
                    </div>

            <% else %>

                    <hr>
                <% @reviews.each do |review| %>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p><%= review.rating %></p>
                            <p><%= review.comment %></p>
                        </div>
                    </div>

                    <hr>
                <% end %>
            <% end %>

                </div>

            </div>

        </div>

    </div>
    </div>


