
<div class='container'>
<p id="notice"><%= notice %></p>
                <div class="row">
                  <% @incomes.each do |income| %>
                    <div class="col-sm-12 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%= image_tag (income.image.url) if income.image? %>
                            <div class="caption">
                                <h4>RM <%= sprintf('%.2f', income.amount) if income.amount? %></h4>
                                <p><h4><%= link_to income.title,income %></h4></p>
                                </h4>
                                <p><%= truncate(income.description, length:20, omission: '...(continued)') %></p>
                            </div>                      
                             
                        </div>
                    </div>
                    <% end %>
                </div> 
</div>
