<!DOCTYPE html>
<html>
  <head>
    <title>MeLAB Global Merchant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<h3>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
               <% if user_signed_in? %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/index">MeLAB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><h3><%= link_to 'Start Account', accounts_path %></h3></li>
            <li><h3><%= link_to 'Report', generate_path %></h3></li>
            
          </ul>
        </li>
        <li> <%= link_to 'View Listing', showing_path %></li>
        <li> <%= link_to 'New List', new_list_path %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Edit registration', edit_user_registration_path) %> </li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul> </h3><% end %>
    </div>
  </div>
</nav>
  <body>
    <%= yield %>
      <br/>
<div class="copy-right-main">
    <div class="container">
        <div class="copy-right">
            <p>© 2017 All rights reserved | Design by  MeLAB Global Sdn Bhd</p>
        </div>
    
    </div>
</div>
  </body>



</html>