<!DOCTYPE html>
<html>
  <head>
    <title>MeLAB Global Merchant</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/0a1c192dd381fb1d07d11b7dd50acfbf.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
    </script>

  </head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
               <% if user_signed_in? %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/index">MeLAB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li><a href="/tutorial">Tutorial</a></li>
        <li><a href="/income">Income Tax</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Start Account', accounts_path %></li>
            <li><%= link_to 'Full Report', generate_path %></li>
            <li><%= link_to 'Balance Sheet', cash_ca_path %></li>
            <li><%= link_to 'Profit & Loss', purchase_cos_path %></li>
          </ul>
        </li>
        <li> <%= link_to 'View Listing', showing_path %></li>
        <li> <%= link_to 'New List', new_list_path %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.superadmin? %>
        <li><%= link_to 'Add Offer Admin only!!!', new_offer_path %></li>
        <% end %>
        <li><%= link_to('Edit registration', edit_user_registration_path) %> </li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul><% end %>
    </div>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
      <br/>
    <footer class="footer">
      <div class="container">
        <center><p class="text-muted">All Right Reserved | Design by MeLAB Global Sdn Bhd</p></center>
      </div>
    </footer>


</html>