<div class="container">
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_purchase_bank_amount %><br />
    RM <%= f.number_field :asset_purchase_bank_amount %>
  </div>
  <br />
  <p> *example: Furniture, Equipment for running business etc</p>
  <select name="account[asset_purchase_bank_description]">
  <option value="Renovation">Office or Shop Renovation</option>
  <option value="Computer or Software">Computer, Laptop and Software</option>
  <option value="Office Equipment">Office Equipment</option>
  <option value="Tools & Equipment">Tools and Equiipments needed for buisness Operation</option>
  <option value="Telecomunication">Telecomunication</option>
  <option value="Motor Vehicle">Motor Vehicle</option>
  <option value="Furniture & Fitting">Furniture & Fitting</option>
</select>

  <br />
  <div class="field">
    <%= f.label :depreciation_bank %><br />
     <p> *This asset can use for how long? *example 5 years should be 100% / 5years = 20%</p>
    <%= f.number_field :depreciation_bank %>%
  </div>
  <br />
  <div class="field">
    <%= f.label :Payment_Voucher %> * For Accounting Record Purposes
    <%= f.file_field :image %>
  </div>
  
  <br />
    <div class="actions">
    <%= f.submit %>  | <%= link_to 'Back', accounts_path %>
  </div>
<% end %>
</div>