<div class="container">
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> *Please key in inventory value to get the accurate accounting report
    <%= f.label :closing_inventory %><br />
    RM <%= f.number_field :closing_inventory %>
  </div>
  <br />
  
    <div class="actions">
    <%= f.submit %>  | <%= link_to 'Back', accounts_path %>
  </div>
<% end %>
</div>