<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :credit_purchase_amount %><br />
    RM <%= f.text_field :credit_purchase_amount %>
  </div>
  <br />
  <div class="field">
    <%= f.label :credit_purchase_description %>
     <p>*brand + prouduct (eg: Logitech Wireless Mouse)</p>
    Products : <%= f.text_field :credit_purchase_description %>
  </div>
  <br />
  <div class="field">
    <%= f.label :creditor_name %>
    <p> eg. Supplier Sdn Bhd </p>
    <%= f.text_field :creditor_name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :Receipt %>/Invoice
    <%= f.file_field :image %> *Needed for Accounting Record Purposes
  </div>
  <br />
    <div class="actions">
    <%= f.submit %> | <%= link_to 'Back', accounts_path %>
  </div>
<% end %>

