<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :fpx_collection_amount %><br />
    RM <%= f.number_field :fpx_collection_amount %>
  </div>
  <br />
  <div class="field">
    <%= f.label :fpx_collection_description %>
    <p> Payment from whom, bank and sales description *eg: Payment from Mr.Soo, RHB Now, keyboard sales</p>
    <%= f.text_field :fpx_collection_description %>
  </div>
  <br />
  <div class="field">
    <%= f.label :fpx_charges %><br />
    <%= f.text_field :fpx_charges %>
  </div>
  <br />
  <div class="field">
    <%= f.label :Payment_Voucher %>* For Accounting Record Purposes
    <%= f.file_field :image %>
  </div>
  <br />
    <div class="actions">
    <%= f.submit %>  | <%= link_to 'Back', accounts_path %>
  </div>
<% end %>

