<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Trade Creditor - Current Liability - Balance Sheet</h1>  | <%= link_to 'Back', accounts_path %>
  <p>This table show amount owe to creditor</p>                                                                                      
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Debit</th>
        <th>Debit Description</th>
        <th>Credit</th>
        <th>Credit Description</th>
        <th>Balance Amount</th>
      </tr>
    </thead>
<% @accounts.each do |account| %>
    <tbody>
      <tr>
        <td><%= account.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= number_to_currency(account.payment_creditor_cash_amount) %><%= number_to_currency(account.payment_creditor_bank_amount) %></td>
        <td><%= account.payment_creditor_cash_description %><%= account.payment_creditor_bank_description %></td>
        <td><%= number_to_currency(account.credit_purchase_amount) %></td>
        <td><%= account.credit_purchase_description %></td>
        <% end %>
        <td><%= number_to_currency(@total_trade) %></td>
      </tr>
      
    </tbody>
  </table>
  </div>
</div>